*{
    padding:0;
    margin: 0;
}
body{
    height: 5000px;
}
i{
    color:rgb(212, 86, 139);
    font-size: 20px;
}
.container{
    width:100%;
    max-width: 120vh;
    margin: auto;
    padding-top: 20vh;
}
ul{
    width: 92%;
    margin: auto;
    margin-top: 2px;
    padding: 5px;
    overflow: auto;
    border-radius: 5px;


}

h1{
width: 50%;
font-weight: bolder;
padding: 5px;
    font-family: 'Times New Roman', Times, serif;
    color:rgb(212, 86, 139);
    font-size: 50px;
}

.background{
background: rgb(175, 117, 139) url(./img/background.jpg) no-repeat top ;

height:100vh;
}
button{
    border-radius: 30px;
    background-color: rgb(212, 86, 139);
    width: 110px;
    padding: 5px;
    color: bisque;
    margin-left: 5px;

}
ul button{
    border-radius: 30px;
    background-color: white;
    width: 40px;
    height: 40px;
    border:none;
    font-size: 20px;
}
.add{
    height: 100px;
    padding: 5px;
    width: 90%;
margin: auto;
font-size: 20px;


}
.form-control{
    height: 40px;
font-size: 22px;
margin: 3px;
}
.list-group{
    max-height: 200px;
    overflow: auto;
    
}
li{
    height: 40px;
    font-size: 20px;


}
.right{width: 30%;
float: right;}
.left{
    width: 70%;
    float: left;
}